<div class="container">
  <div class="row">
    <div class="">
        <div class="col-md-3">
          <label class="pull-left">Hostname:</label>
        </div>
        <div class="col-md-3">
            <label class="pull-left">Loopback:</label>
        </div>
    </div>
  </div>
  <div class="row">
      <div class="">
          <div class="col-md-3">
            <input class="pull-left" type="text"  id="hostname" [(ngModel)] = "model.hostname"/>
          </div>
          <div class="col-md-3">
              <input class="pull-left" type="text" id="loopback" [(ngModel)] = "model.loopback"/>
          </div>
          <div class="col-md-2">
              <button class="btn btn-primary pull-left"  id="add" *ngIf="mode==='add'"  (click)= "addHostName()">ADD</button>
              <button class="btn btn-primary pull-left"  id="edit" *ngIf="mode==='edit'" (click)= "editHostName()">EDIT</button>
          </div>
      </div>
  </div>
  <div class="col-md-6 pull-left" >
      <div [hidden]= "username.length !== 0"><span>No Records</span></div>
      <table class="table" [hidden] = "username.length === 0">
          <thead>
            <tr>
              <th style = "text-align:center">SR NO</th>
              <th style = "text-align:center">Hostname</th>
              <th style = "text-align:center">Loopback</th>
              <th style = "text-align:center">ACTION</th>
              
            </tr>
          </thead>
          <tbody>
              <tr *ngFor="let user of username; index as i" [attr.data-index]="i">
                <td style = "text-align:center">{{i+1}}</td>
                <td style = "text-align:center">{{user.hostname}}</td>
                <td style = "text-align:center">{{user.loopback}}</td>
                <td>
                  <button class="btn btn-primary btn-xs" (click)='onEditClick(user)' ><i class="fa fa-edit"></i></button>
                  <button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#viewInterface" (click)='viewHostName(user)' ><i class="fa fa-eye"></i></button>
                  <button class="btn btn-primary btn-xs" (click)='deleteHostName(i)' ><i class="fa fa-trash"></i></button>
                </td>
                
              </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="viewInterface" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content animated fadeIn">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Edit Interface</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="">
                        <div class="col-md-3">
                          <label class="pull-left">Interface:</label>
                        </div>
                        <div class="col-md-3">
                            <label class="pull-left">IP:</label>
                        </div>
                    </div>
                  </div>
                  <div class="row">
                      <div class="">
                          <div class="col-md-3">
                            <input class="pull-left" type="text" id="interface" [(ngModel)]='newModel.interface'/>
                          </div>
                          <div class="col-md-3">
                              <input class="pull-left" type="text" id="ip" [(ngModel)]='newModel.ip'/>
                          </div>
                          <div class="col-md-2">
                              <button class="btn btn-primary pull-left" id="addInterface" *ngIf="mode ==='add'" (click)= "addInterface()">ADD</button>
                              <button class="btn btn-primary pull-left" id="editInterface" *ngIf="mode === 'edit'" (click)= "editInterface()">EDIT</button>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-12">
                      <div></div>
                      <table class="table">
                          <thead>
                            <tr>
                              <th style = "text-align:center">SR NO</th>
                              <th style = "text-align:center">INTERFACE</th>
                              <th style = "text-align:center">IP</th>
                              <th style = "text-align:center">ACTION</th>
                            </tr>
                          </thead>
                          <tbody >
                              <tr *ngFor="let interface of selectedObject.arr; index as sno" [attr.data-index] = "sno">
                                <td style = "text-align:center">{{sno + 1}}</td>
                                <td style = "text-align:center">{{interface.interface}}</td>
                                <td style = "text-align:center">{{interface.ip}}</td>
                                <td>
                                  <button class="btn btn-primary btn-xs" (click)= "onEditInterface(interface)"><i class="fa fa-edit"></i></button>
                                  <button class="btn btn-primary btn-xs" (click)= 'onDeleteInterface(sno)'><i class="fa fa-trash"></i></button>
                                </td>
                              </tr>
                            </tbody>
                        </table>
                   </div>
               </div>
        </div>
    </div>
</div>
